$font-stack: "Avenir Next", avenir, arial;
$font-weight-mobile: 400 !important;
$font-weight: 400 !important;
$letter-spacing: .2px;

$primary-color-desktop: #4a4a4a;
$primary-color: #030303;
$primary-color-black: #030303;

$app-font-size-mobile: 14px;
$app-font-size: 16px;

$app-color-foreground: #005c9b;
$app-color-background: #ffffff;
$app-color-backdrop: #ffffff;
$gray: #d8d8d8;

$tablet: 768px;

@charset "UTF-8";

html,body {
  font: 100% $font-stack;
  font-weight: $font-weight-mobile;
  font-size: $app-font-size-mobile;
  letter-spacing: $letter-spacing;
  background-color: $app-color-backdrop;
  color: $primary-color-black;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @media only screen and (min-width: $tablet) {
    font-weight: $font-weight;
    font-size: $app-font-size;
    color: $primary-color;
  }
}

div {
   box-sizing: border-box;
}

div.header {
  div.headerlogo {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 64px;
    top: 32px;
    background-color: #ffffff;
    box-shadow: 0 4px  8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    div.container {
      position: absolute;
      top: 12px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      max-width: 1000px;
      margin: auto;

      a {
        img {
          height: 32px;

          @media only screen and (min-width: $tablet) {
            height: 48px;
          }
        }
      }

      ul {
        position: inherit;
        bottom: 2px;

        @media only screen and (max-width: $tablet) {
          right: 0px;
        }
        @media only screen and (min-width: $tablet) {
          bottom: 12px;
          right: 8px;
        }

        list-style-type: none;
        margin: 0px;
        padding: 0px;
      }

      li {
        display: inline-block;
        padding: 0px;
        margin: 2px 20px 0px 10px;
        font-size: $app-font-size-mobile;

        @media only screen and (min-width: $tablet) {
          margin: 2px 90px 0px 20px;
          font-size: $app-font-size;
        }

        a {
          color: $primary-color-black;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          padding: 0px 15px 2px 15px;

          @media only screen and (min-width: $tablet) {
            color: $primary-color;
          }

          &:hover {
            color: #ff5a00;
            border-top: 1px solid #ff5a00;
            border-bottom: 1px solid #ff5a00;
            padding: 2px 15px 2px 15px;
            animation-name: up;
            animation-duration: .25s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }

  div.headertop {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 32px;
    background-color: #303030;

    div.container {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      max-width: 100%;
      margin: auto;

      ul {
        position: inherit;
        top: 4px;
        bottom: 2px;

        @media only screen and (max-width: $tablet) {
          left: 0px;
        }
        @media only screen and (min-width: $tablet) {
          bottom: 12px;
          left: 0px;
        }

        list-style-type: none;
        margin: 0px;
        padding: 0px;
      }

      li {
        display: inline-block;
        padding: 0px;
        margin: 2px 10px 0px 10px;
        font-size: 10px;

        @media only screen and (min-width: $tablet) {
          margin: 2px 90px 0px 20px;
          font-size: 14px;
        }

        a {
          color: #ffffff;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          padding: 0px 5px 2px 5px;

          &:hover {
            border-bottom: 1px solid #ffffff;
//            padding: 2px 15px 2px 15px;
            animation-name: top;
            animation-duration: .5s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
          }

          i {
            margin: 0px 5px 0px 0px;
          }
        }
      }
    }
  }
}


div.main {
  position: absolute;
  top: 96px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  perspective: 2px;

  div.image {
    height: 256px;

    @media only screen and (min-width: $tablet) {
      height: 512px;
    }

    &::after {
      background-image: url('/images/image.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;

      content: " ";
      position: absolute;
      top: -272px;
      height: 256px;
      width: 100%;

      @media only screen and (min-width: $tablet) {
        top: -272px;
        height: 512px;
      }

      transform: translateZ(-1px) scale(1.5);
      z-index: -1;
    }
  }

  div.container {
    position: relative;
    top: -128px;
    max-width: 1000px;

    margin: auto;
    margin-top: 32px;
    font-size: $app-font-size-mobile;

    @media only screen and (min-width: $tablet) {
      top: -384px;
      font-size: $app-font-size;
    }

    div.cardcontainer {
      perspective: 1000px;

      div.card {
        border-radius: 2px;
        width: calc(100% - 20px);
        height: auto;
        padding: 16px;
        background-color: $app-color-backdrop;
        font-variant: small-caps;
        margin: 10px;
        box-shadow: 0px 15px 80px -6px rgba(0,0,0,0.2);

        &:hover {
        }

        @media only screen and (min-width: $tablet) {
          float: left;
          width: calc(25% - 20px);
          min-height: 340px;
          transform: rotateY(90deg);

          animation-name: flip;
          animation-duration: .5s;
          animation-timing-function: cubic-bezier(0, .7, .5, .5);
          animation-fill-mode: forwards;
        }

        &:nth-child(1) {
          animation-delay: .25s;
        }
        &:nth-child(2) {
          animation-delay: .5s;
        }
        &:nth-child(3) {
          animation-delay: .75s;
        }
        &:nth-child(4) {
          animation-delay: 1s;

          h3 {
            animation-name: pulse;
            animation-duration: .75s;
            animation-timing-function: cubic-bezier(0, 1.4, 1, 1);
            animation-fill-mode: forwards;
            animation-delay: 2s;
          }
        }

        &.contact {
          font-variant: normal;
          width: calc(100% - 40px);
          max-width: 960px;
          height: auto;
          margin: 20px;

          @media only screen and (min-width: $tablet) {
            width: calc(75% - 10px);
          }

          i {
            font-size: 14px;
            padding-right: 8px;
          }
        }

        h3 {
         font-size: 28px;
         font-variant: small-caps;

         @media only screen and (min-width: $tablet) {
           font-size: 28px;
           text-align: center;
         }
        }

        h4 {
         font-size: 14px;
         font-variant: small-caps;

         @media only screen and (min-width: $tablet) {
           font-size: 14px;
           text-align: center;
           font-style: italic;
         }
        }

        a {
         color: #ff5a00;
         text-decoration: none;
        }
        a:hover {
         color: #ff5a00;
         border-bottom: 1px solid #ff5a00;
        }
      }
    }

    div.content {
      border-radius: 2px;
      background-color: $app-color-backdrop;
      clear: both;
      margin: 5px;
      padding: 5px;

      @media only screen and (min-width: $tablet) {
        position: relative;
        top: 60px;
        margin: 5px 5px 5px 5px;
        padding: 20px;
        width: calc(100% - 10px);
        opacity: 0;

        animation-name: show;
        animation-duration: .5s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
      }

      h3 {
        font-size: 28px;
        font-variant: small-caps;

        @media only screen and (min-width: $tablet) {
          font-size: 28px;
        }
      }

      h4 {
        font-size: 14px;
        font-variant: small-caps;

        @media only screen and (min-width: $tablet) {
          font-size: 14px;
          font-style: italic;
        }
      }

      a {
       color: #ff5a00;
       text-decoration: none;
      }
      a:hover {
       color: #ff5a00;
       border-bottom: 1px solid #ff5a00;
      }

      ul {
        margin: 0px;
        padding: 0px;
        list-style-type: disc;

        li {
          padding-left: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}

div.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 40px;
  width: auto;
  background-color: #303030;
  color: #080808;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  font-size: 12px;

  div.container {
    a {
      height: 40px;
      color: #ffffff;
    }
    div {
       color: #ffffff;
       margin: 10px;
    }
  }
}

@keyframes up {
  0% {padding: 10px 15px 10px 15px;}
  90% {padding: 3px 15px 3px 15px;}
  100% {padding: 2px 15px 2px 15px;background-color: #ff5a00; color: #ffffff;}
}

@keyframes flip {
  0% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2); color: #ff5a00; font-weight: 400;}
  100% {transform: scale(1); color: #ff5a00;}
}

@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes top {
  0% {color: $app-color-background;}
  50% {color: #ff5a00;}
  100% {color: $app-color-background;}
}
